.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  background-color: #212529;
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 20px;
}

header {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h2 {
  font-size: 1.8rem;
  margin: 0;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.image-wrapper {
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.movie-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.856);
  color: #fff;
  padding: 20px;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.8s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.movie-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.movie-details .description {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #ddd;
}

.btn-watch-now {
  background-color: #ffc107;
  color: #212529;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-watch-now:hover {
  background-color: #e2ab06;
}

.movie-card:hover .movie-details {
  clip-path: circle(150% at 50% 50%);
  opacity: 1;
  transition: clip-path 0.8s ease-in-out, opacity 0.5s ease-in-out;
}

.movie-card:not(:hover) .movie-details {
  clip-path: circle(0% at 50% 50%);
  opacity: 0;
  transition: clip-path 1s ease-in-out, opacity 0.5s ease-in-out;
}

.icon-style {
  margin-right: 5px;
}

.full-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-only {
  display: none;
}

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside1,
.aside2 {
  background-color: #414548;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.aside1 h3,
.aside2 h3 {
  margin-bottom: 10px;
}

.aside1 form input,
.aside1 form button {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.aside2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside2 ul li {
  margin-bottom: 10px;
}

.aside2 ul li a {
  color: #ffc107;
  text-decoration: none;
}

.aside2 ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .movies-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .aside-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .full-details {
    display: none;
  }

  .icon-only {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
}
