header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(37, 40, 43, 0.452);
  color: #fff;
  padding: 1rem 0;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.719);
  backdrop-filter: blur(5px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #FFC107;
  cursor: pointer;
}

nav .logo:hover {
  color: #fff;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  cursor: pointer;
}

nav ul.links {
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: none;
  color: #FFC107;
}
